/* TimelinesContainer.css */

.timelines-container {
  overflow-x: auto;
}

.timelines-wrapper {
  display: flex;
}

.timeline {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border: 1px solid #ccc;
  padding: 0;
  margin-right: 10px;
}

.timeline-header-container {
  background-color: #f0f0f0;
  padding: 10px;
}

.timeline-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px;
}

.timeline-header h2,
.timeline-header p {
  margin: 0;
}

.timeline-header h2:hover {
  color: #888;
}

.timeline-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timeline-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline-actions label {
  margin-right: 10px;
}

.timeline-toggle-options {
  display: flex;
  flex-direction: column; /* Stack the toggles vertically */
}

.timeline-entries {
  flex: 1 0 100%;
  overflow-y: auto;
  margin-bottom: 0;
  max-height: 500px;
  /* Add smooth scrolling behavior */
  /* scroll-behavior: smooth; */
}

.timeline-entry {
  margin-bottom: 0;
  transition: background-color 0.3s;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.timeline-entry:hover {
  background-color: #f0f0f0;
}

.timeline-entry p {
  margin: 0 0 5px;
}

.entry-buttons {
  display: flex;
  gap: 10px;
}

.entry-input {
  display: flex;
  gap: 10px;
  flex: 1;
  padding: 10px;
  background-color: #f0f0f0;
}

.entry-input textarea {
  flex: 1;
}
