/* TimelinesContainer.css */

.timelines-container {
  overflow-x: auto;
  display: flex;
  padding: 20px;
  gap: 40px;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  /* border: 1px solid #e2e2e2; */
  padding: 0;
  /* margin-right: 40px; */
  /* max-width: 300px; */
  height: calc(100dvh - 60px);
  font-family: system-ui;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #fff;
}

@media only screen and (max-width: 700px) {
  .timelines-container {
    scroll-snap-type: x mandatory;
  }

  .timeline {
    flex: 0 0 100%;
    scroll-snap-stop: always;
    scroll-snap-align: center;
  }
}

.timeline-header-container {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.timeline-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px;
  gap: 5px;
}

.timeline-header .timeline-editing {
  display: flex;
  gap: 5px;
  flex: 1;
}

.timeline-header input {
  flex: 1;
}

.timeline-header button {
  flex: 0;
}

.timeline-header input,
.timeline-header button {
  padding: 6px 8px;
  width: 100%;
}

.timeline-header h2,
.timeline-header p {
  margin: 0;
}

.timeline-header h2:hover {
  color: #888;
}

.timeline-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timeline-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline-actions label {
  margin-right: 10px;
}

.timeline-toggle-options {
  display: flex;
  flex-direction: column; /* Stack the toggles vertically */
}

.timeline-search {
  display: flex;
  gap: 10px;
  flex: 0;
  padding: 0 20px 12px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 1;
}

.timeline-search input {
  flex: 1;
  padding: 8px 10px;
  font-family: system-ui;
  box-sizing: border-box;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 2px 3px -1px rgb(0 0 0 / 0.1), 0 1px 2px -2px rgb(0 0 0 / 0.1);
}

.timeline-entries {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: 0;
  /* max-height: 500px; */
  /* Add smooth scrolling behavior */
  /* scroll-behavior: smooth; */
}

.timeline-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  transition: background-color 0.3s;
  padding: 16px 20px;
  /* border-bottom: 1px solid #f0f0f0; */
  border-image: linear-gradient(
      to left,
      rgba(240, 240, 240, 1),
      rgba(240, 240, 240, 0)
    )
    30;
  border-width: 0 0 1px;
  border-style: solid;
  margin-top: -2px;
  position: relative; /* To position the bullet point and the connecting line */
  padding-left: 50px; /* Add some space for the bullet point and connecting line */
}
.timeline-entry::before {
  content: '';
  position: absolute;
  top: 0; /* Adjust the positioning based on your design preference */
  left: 21px; /* Adjust the positioning based on your design preference */
  width: 2px;
  height: calc(100%); /* Calculate the height of the connecting line */
  background-color: #888; /* Use the same color as the bullet point */
  opacity: 0.2;
}

.timeline-entry .bullet-point {
  position: absolute;
  top: 50%;
  left: 22px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999;
  transform: translate(-50%, -50%); /* Move the bullet-point to the center */
  cursor: pointer; /* Add cursor pointer styling */
  transition: transform 0.3s ease; /* Add a transition effect for the transform property */
  transform-origin: center; /* Set the transform origin to the center of the bullet-point */
  box-shadow: 0 0 0 4px white;
}

.timeline-entry:hover .bullet-point,
.timeline-entry:focus-within .bullet-point {
  transform: translate(-50%, -50%) scale(1.3); /* Scale and translate the bullet-point when hovered or highlighted */
}

.timeline-entry.highlighted .bullet-point,
.timeline-entry .bullet-point.highlighted {
  /* background-color: gold; */
  /* background-color: #4caf50; */
  background-color: rgb(14, 165, 233);
  /* border: 1px solid #b4b4b4; */
}

.timeline-entry:hover,
.timeline-entry:focus-within {
  background-image: linear-gradient(
    to left,
    rgba(240, 240, 240, 1),
    rgba(240, 240, 240, 0)
  );
}

.timeline-entry.highlighted {
  background-image: linear-gradient(
    to left,
    rgba(107, 114, 128, 0.3),
    rgba(255, 223, 0, 0)
  );
  /* background-image: linear-gradient(
    to left,
    rgba(255, 223, 0, 0.6),
    rgba(255, 223, 0, 0)
  ); */
}

.timeline-entry.highlighted:hover {
  background-image: linear-gradient(
    to left,
    rgba(107, 114, 128, 0.6),
    rgba(240, 240, 240, 0)
  );
  /* background-image: linear-gradient(
    to left,
    rgba(255, 223, 0, 1),
    rgba(255, 223, 0, 0)
  ); */
}

.timeline-entry form {
  display: flex;
  flex-direction: column;
}

.timeline-entry textarea {
  padding: 6px 8px;
  font-family: system-ui;
  box-sizing: border-box;
  min-height: 46px;
}

.timeline-entry p {
  margin: 0 0 5px;
}

.timeline-entry .entry-original-type {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  color: #b4b4b4;
}

.entry-buttons {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.entry-input {
  display: flex;
  gap: 10px;
  flex: 0;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}

.entry-input textarea {
  appearance: none;
  flex: 1;
  padding: 6px 8px;
  font-family: system-ui;
  box-sizing: border-box;
  min-height: 46px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 2px 3px -1px rgb(0 0 0 / 0.1), 0 1px 2px -2px rgb(0 0 0 / 0.1);
}

.entry-input button {
  appearance: none;
  background-color: rgb(107 114 128);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-family: system-ui;
  box-shadow: 0 2px 3px -1px rgb(0 0 0 / 0.1), 0 1px 2px -2px rgb(0 0 0 / 0.1);
}

.entry-input button:hover {
  background-color: rgb(75 85 99);
}

.template-container {
  padding: 5px 20px 10px;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 0 0 10px 10px;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.template-container select {
  appearance: none;
  display: block;
  background-color: #fff;
  color: #333;
  padding: 6px 8px;
  flex: 1;
  font-family: system-ui;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 2px 3px -1px rgb(0 0 0 / 0.1), 0 1px 2px -2px rgb(0 0 0 / 0.1);
}

.todos-container {
  margin-top: 25px;
}

/* Styles for habit bullet points */
.todos {
  padding: 10px 20px 14px; /* Add padding instead of margin-top */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Use flex direction column to stack elements vertically */
  gap: 8px; /* Add 8px gap between .habit-item elements */
  background-color: #f3f3f3;
}

.todos-header {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f3f3f3;
  font-size: 16px;
  font-weight: 700;
  /* margin-top: 10px; */
  user-select: none; /* prevent the text selection on double click */
  color: #333;
  transition: color 0.3s;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}

.todos-header:hover {
  color: #000;
  background-color: #e2e2e2;
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-bullet-point {
  position: relative;
  line-height: 1;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: #b4b4b4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(240, 240, 240, 0);
  font-size: 16px;
  margin-right: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.todo-item:hover .todo-bullet-point {
  transform: scale(1.2); /* Scale the bullet-point when hovered */
  background-color: #555;
}

.todo-bullet-point:hover {
  color: rgba(240, 240, 240, 1);
}

.todo-item .todo-text {
  font-size: 16px;
  flex: 1; /* Allow the text to take up remaining space */
  white-space: nowrap; /* Prevent text from wrapping to multiple lines */
  overflow: hidden; /* Hide any overflowed text */
  text-overflow: ellipsis; /* Show ellipsis for truncated text */
}

.todo-actions {
  display: flex; /* Use flexbox to keep the actions on the same line */
  align-items: center; /* Align items vertically */
  margin-left: 8px; /* Add spacing between text and actions */
}

.todo-actions button {
  margin-left: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #555;
  font-size: 14px;
  font-family: system-ui;
}

.todo-actions button:hover {
  color: #333;
}

.add-todo-button {
  margin-top: 8px;
  cursor: pointer;
  /* background-color: #4caf50; */
  /* background-color: rgb(14, 165, 233); */
  background-color: rgb(107 114 128);
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: system-ui;
}

.add-todo-button:hover {
  /* background-color: #45a049; */
  /* background-color: rgb(3, 105, 161); */
  background-color: rgb(75 85 99);
}

.habits-container {
  /* margin-top: 25px; */
}

/* Styles for habit bullet points */
.habits {
  padding: 10px 20px 14px; /* Add padding instead of margin-top */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Use flex direction column to stack elements vertically */
  gap: 8px; /* Add 8px gap between .habit-item elements */
  background-color: #f3f3f3;
}

.habits-header {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f3f3f3;
  font-size: 16px;
  font-weight: 700;
  /* margin-top: 10px; */
  user-select: none; /* prevent the text selection on double click */
  color: #333;
  transition: color 0.3s;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}

.habits-header:hover {
  color: #000;
  background-color: #e2e2e2;
}

.habit-item {
  display: flex;
  align-items: center;
}

.habit-bullet-point {
  position: relative;
  line-height: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b4b4b4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  margin-right: 8px;
  transition: all 0.3s ease;
  cursor: pointer; /* Keep cursor: pointer on habit-bullet-point */
}

.habit-item:hover .habit-bullet-point {
  transform: scale(1.2); /* Scale the bullet-point when hovered */
  color: rgba(240, 240, 240, 1);
  background-color: #555;
}

.habit-item .habit-text {
  font-size: 16px;
  flex: 1; /* Allow the text to take up remaining space */
  white-space: nowrap; /* Prevent text from wrapping to multiple lines */
  overflow: hidden; /* Hide any overflowed text */
  text-overflow: ellipsis; /* Show ellipsis for truncated text */
}

.habit-actions {
  display: flex; /* Use flexbox to keep the actions on the same line */
  align-items: center; /* Align items vertically */
  margin-left: 8px; /* Add spacing between text and actions */
}

.habit-actions button {
  margin-left: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #555;
  font-size: 14px;
  font-family: system-ui;
}

.habit-actions button:hover {
  color: #333;
}

.add-habit-button {
  margin-top: 8px;
  cursor: pointer;
  /* background-color: #4caf50; */
  /* background-color: rgb(14, 165, 233); */
  background-color: rgb(107 114 128);
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: system-ui;
}

.add-habit-button:hover {
  /* background-color: #45a049; */
  /* background-color: rgb(3, 105, 161); */
  background-color: rgb(75 85 99);
}
